<div class="edit-card my-4">
  <h2 class='text-center'>Edit Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :first_name,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :email,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :photo,
                  as: :file %>
      <%= f.input :description,
                  autofocus: true,
                  input_html: { autocomplete: "description" }%>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  input_html: { autocomplete: "new-password" } %>

    </div>

    <div class="form-actions text-center margin-top:30px">
      <input class="btn-log-in" type="submit" value="Update Account">
    </div>
  <% end %>

  <div class="text-center">
    <a class="btn-cancel" type='button' href="url">Delete my account</a>
  </div>
</div>
