<div class="profile-page d-flex justify-content-between">
  <div class="profile-card" style= "position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 90px) !important;">
    <div class="id-info d-flex justify-content-between">
      <div class="img-profile">
        <% if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class:"avatar", crop: :fill %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png", class:"avatar"%>
        <%end%>
      </div>
      <div class="users-info">
        <h3> Hi, I'm <%= current_user.first_name %></h3>
        <p><%= @user.email %></p>
      </div>
    </div>
    <div class="user-record">
      <p class="text-center">Your info:</p>
      <div class= "my-info text-center">
        <p>
        <%= current_user.description %>
        </p>
        <a class="btn-edit text-center" type='button' href="/users/edit">Update Profile</a>
      </div>
    </div>
  </div>
  <div class="profile-items">
    <div class="categories-row d-flex justify-content-between">
      <p class="1">Item Name</p>
      <p class="2" style="margin-right:10px;">Category</p>
      <p class="3" style="margin-right:18px;">Price</p>
      <p class="4" style="margin-right:44px;">Status</p>
    </div>
    <div class="info-row" style="margin-right: 10px; margin-top: 20px;">
      <% @items.each do |item|%>
        <div class="col table-info d-flex justify-content-between text-center">
          <p style="overflow:scroll;height: 25px; width:110px;"><%= item.name %></p>
          <p style="width:110px;"><%= item.category %></p>
          <p style="width:110px;"><%= item.value %></p>
          <p style="width:110px;"><%= item.current_situation%></p>
        </div>
      <%end%>
    </div>
  </div>
</div>
