<div class="profile-page d-flex justify-content-between">
  <div class="profile-card">
    <div class="id-info d-flex justify-content-between">
      <div class="img-profile"><%= image_tag "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80", class:"avatar"%></div>
      <div class="users-info">
        <h3> Hi, I'm Gabriel</h3>
        <p><%= @user.email %></p>
      </div>
    </div>
    <div class="user-record">
      <p class="text-center">Your info:</p>
      <div class= "my-info text-center">
        <p>
        <%# <%= @lessor.info %>
        In pretium condimentum quam, eu pellentesque nisi dictum eu. In id leo ac quam convallis lobortis nec efficitur metus.
        </p>
      </div>
    </div>
  </div>
  <div class="profile-items">
    <div class="categories-row d-flex justify-content-between">
      <%= image_tag "", class:"avatar"%>
      <p>Item ID</p>
      <p>Rental Date</p>
      <p>Price</p>
      <p>Status</p>
    </div>
    <div class="info-row">
      <div class="table-info d-flex justify-content-between">
        <%= image_tag "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", class:"avatar"%>
        <p>Item ID</p>
        <p>10/09-20/09</p>
        <p>$248</p>
        <p>On Going</p>
      </div>
      <div class="table-info d-flex justify-content-between">
        <%= image_tag "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", class:"avatar"%>
        <p>Item ID</p>
        <p>10/09-20/09</p>
        <p>$248</p>
        <p>On Going</p>
      </div>
      <div class="table-info d-flex justify-content-between">
        <%= image_tag "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", class:"avatar"%>
        <p>Item ID</p>
        <p>10/09-20/09</p>
        <p>$248</p>
        <p>On Going</p>
      </div>
      <div class="table-info d-flex justify-content-between">
        <%= image_tag "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", class:"avatar"%>
        <p>Item ID</p>
        <p>10/09-20/09</p>
        <p>$248</p>
        <p>On Going</p>
      </div>
      <div class="table-info d-flex justify-content-between">
        <%= image_tag "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", class:"avatar"%>
        <p>Item ID</p>
        <p>10/09-20/09</p>
        <p>$248</p>
        <p>On Going</p>
      </div>
    </div>
  </div>
</div>
