<%= simple_form_for @item do |f| %>
  <%= f.input :name,
                  required: true,
                  autofocus: true %>
  <%= f.input :description,
                  required: true,
                  autofocus: true,
                  :as => :text, :input_html => { 'rows' => 10} %>
  <%= f.input :photos,
                  required: true,
                  autofocus: true,
                  as: :file, input_html: { multiple: true } %>
  <p><small>Max of 10M</small><p>
  <%= f.input :value,
                  required: true,
                  autofocus: true %>
  <%= f.input :current_situation, :as => :hidden, :input_html => { :value => "available" } %>
  <%= f.input :category,
                  required: true,
                  autofocus: true,
                  collection: ["Paintings", "Sculptures", "Drawings", "Ceramics", "Photography", "Crafts"] %>

  <%= f.input :address,
  input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <div class="button-container">
    <%= f.button :submit, class: "btn-log-in text-center"%>
  </div>
<% end %>
