<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143717/146.png" alt="" width="60" height="40">
    </a>
    <div style="display:flex;">
    <%if user_signed_in? %>
      <%= link_to "Become a lessor" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, style:"margin:0 10px;"%>
    <%else%>
      <%= link_to "Become a lessor" %>
      <%= link_to "Log In", new_user_session_path, style:"margin:0 10px;" %>
      <%= link_to "Register", new_user_registration_path %>
    <%end%>
    </div>
  </div>
</nav>

<h1>This is the index page</h1>

<% @items.each do |item|%>
  <h1><%= item.name%></h1>
<%end%>
