<div id= "product-page">
  <div class= "title-bar d-flex justify-content-between align-items-center my-3">
    <div class="text m-0 p-0">
      <h2 class="m-0"><%= @item.name %></h2>
    </div>
    <div class="d-flex">
      <% if @item.user == current_user %>
        <%= link_to item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-rent" do %>
            <i class="fa-solid fa-trash"></i>
        <%end%>
        <%= link_to edit_item_path, class:"btn-rent" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <%end%>
        <a href="#" class="btn-rent"><i class="fa-solid fa-share-from-square"></i></a>
      <% else %>
        <a href="#" class="btn-rent"><i class="fa-solid fa-share-from-square"></i></a>
      <%end%>
    </div>
  </div>

  <div class="container-photo text-center">
    <div class="row">
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" class="d-block w-100" alt="Product's image">
      </div>
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" class="d-block w-100" alt="Product's image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" class="d-block w-100" alt="Product's image">
      </div>
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" class="d-block w-100" alt="Product's image">
      </div>
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" class="d-block w-100" alt="Product's image">
      </div>
    </div>
  </div>

  <div class= "container-details d-flex justify-content-between">

    <div class="container-info d-flex justify-content-between">

      <div class="item-info">
        <h3>Item's info</h3>
        <p>
        <%# <%= @item.description %>
        In pretium condimentum quam, eu pellentesque nisi dictum eu. In id leo ac quam convallis lobortis nec efficitur metus. Maecenas a orci eget felis luctus elementum. Maecenas consectetur ornare erat aliquam molestie. Donec vulputate neque augue, vel malesuada enim pulvinar eu. Duis quis sem justo. Suspendisse a commodo tellus.
        </p>
      </div>

      <div class="lessor-info">
        <h3>Lessor's info</h3>
        <p>
        <%# <%= @lessor.info %>
        In pretium condimentum quam, eu pellentesque nisi dictum eu. In id leo ac quam convallis lobortis nec efficitur metus. Maecenas a orci eget felis luctus elementum. Maecenas consectetur ornare erat aliquam molestie. Donec vulputate neque augue, vel malesuada enim pulvinar eu. Duis quis sem justo. Suspendisse a commodo tellus.
        </p>
      </div>

    </div>

    <div class="container-book">

      <div class="date">
        <div class="input-date d-flex justify-content-between">
          <div class="begin-date text-center">
            <p class="text">Begin-date</p>
            <p>14/09/2022</p>
          </div>
          <div class="end-date text-center" >
            <p class="text">End-date</p>
            <p>30/09/2022</p>
          </div>
        </div>
        <div class="total-date text-center">
          <p class="text">Total days</p>
          <p>16 Days</p>
        </div>
        <a href="#" class="btn-rent">Book</a>
      </div>

      <div class="price">
        <div class= "daily-price d-flex justify-content-between">
          <p class="text">Daily price:</p>
          <p>xxxxx</p>
        </div>
        <div class= "daily-price d-flex justify-content-between">
          <p class="text">Days rented for:</p>
          <p>xxxxx</p>
        </div>
        <div class= "daily-price d-flex justify-content-between">
          <p class="text">Total price:</p>
          <p>xxxxx</p>
        </div>
      </div>
    </div>
  </div>

  <div class= container-map>
    <div class="map-div">
      <h3> Item's Location</h3>
      <div class="text-center">
        <img src="https://media.istockphoto.com/id/1284922707/pt/foto/3d-map-of-london.jpg?s=1024x1024&w=is&k=20&c=0VxisC2L3H4dr8tfhMc5J6ytNFaE_ztgJnySyd564aY=" class="map" alt="Product's Location">
      </div>
    </div>
  </div>
</div>
